@charset "utf-8";

$color-js: #F7DF1E;
$primary: $color-js;
$primary-invert: #000;
$family-sans-serif: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
$family-monospace: "IBM Plex Mono", Monaco, monospace;

@import "../../node_modules/bulma/bulma.sass";

.vav-subtitle {
  margin-bottom: 30px;
}

.vav-get-started-button {
  margin-bottom: .5rem;
}

.title.vav-features-title {
  margin-bottom: 2.5rem;
}

.vav-feature {
  margin: 0 1.5rem;
  padding: 1.25rem;
  border-radius: 10px;
}

.vav-feature-icon {
  margin-bottom: 1rem;
}

.vav-get-started-step {
  margin-bottom: 3rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.vav-donate-text {
  margin-bottom: 1.5rem;
}

.vav-donate-button {
  img {
    transform: scale(0.9);
    transition: transform 300ms;

    &:hover {
      transform: scale(1);
    }
  }
}

.vav-footer-main {
  margin-bottom: 1rem;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
